*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    color: #ffffff;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 0px 0px 1px;
    position: sticky;
}

.first{
    border: 2px solid #7A9A00;
    padding: 12px;
    color: #7A9A00;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.first:hover{
    background: #7A9A00;
    color: white;
}

.dove{
    width: 100%;
}

.second{
    border: 2px solid transparent;
    padding: 12px;
    color: #7A9A00;
    text-decoration: none;
}

.second:hover{
    background: #7A9A00;
    color: white;
    border: 2px solid #7A9A00;
    font-weight: bold;
    border-radius: 5px;
}

.test a img{
    width: 100%;
}

.group{
margin: 0px 400px;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 30px;
}

.first_part{
    width: 100%;
    display: flex;
}

.first_part a:nth-child(1){
    color: white;
    background-color: #7A9A00;
    padding: 12px;
}

.first_part a:nth-child(2){
    color: black;
    background-color: white;
    padding: 12px;
    border: 1px solid transparent;
    border-bottom-color: rgb(173, 173, 173);
}

.first_part a:nth-child(2):hover{
    background-color: rgb(226, 226, 226);
}

.second_part{
    display: flex;
}

.second_part a{
    margin: 10px;
}

.second_part a:nth-child(1){
    color: black;
    border: 1px solid rgb(173, 173, 173);
    padding: 10px 20px;
    background-color: white;
}

.second_part a:nth-child(2){
    color: black;
    border: 1px solid rgb(173, 173, 173);
    padding: 10px 20px;
    background-color: white;
}

.second_part a:nth-child(3){
    color: black;
    border: 1px solid rgb(173, 173, 173);
    padding: 10px 20px;
    background-color: white;
}

.second_part a:nth-child(4){
    border: 1px solid transparent;
    padding: 10px 20px;
    background-color: white;
}

.second_part a:hover{
    background: #c6c6c6;
}

.group2{
    margin: 20px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.test:hover{
    transform: scale(1.05);
}

.test{
    width: 300px;
    height: 280px;
    border: 1px solid #e6e6e6;
    transition: .3s;
}

.test img{
    width: 100%;
}

.test p{
    margin: 20px;
    color: black;
}

.type1{
    background: linear-gradient(
        90deg,
        #1F3F70,
        #162D50
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type2{
    background: linear-gradient(
        90deg,
        #E2A734,
        #333333
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type3{
    background: linear-gradient(
        90deg,
        #6BB5B6,
        #008080
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type4{
    background: linear-gradient(
        90deg,
        #9AA767,
        #7B9A00
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type5{
    background: linear-gradient(
        90deg,
        #838EAA,
        #54628E
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.dive{
    font-weight: bold;
    font-size: 15px;
}

.interact{
    width: 100%;
    margin-top: 80px;
}

.group3{
    display: flex;
    flex-direction: column;
    color: black; 
    width: 100%;
    align-items: center;
}

.group3 img{
    width: 30%;
    height: 30%;
}
.group3 div p{
    font-size: 25px;
    margin-bottom: 20px;
}
.group3 div{
    font-size: 15px;
    max-width: 700px;
    min-width: 600px;
}
.sub1{
    display: flex;
    flex-direction: row;
    margin: 20px; 
}

.txt{
    margin-left: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.success{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.poold{
    background: white;
    color: #000;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
}

.poold span:nth-child(1){
    border-bottom: 4px #7A9A00 solid;
    border-radius: 5px;
}

.poold span:nth-child(2){
    border-bottom: 4px transparent solid;
    border-radius: 5px;
}

.one{
    width: 300px;
    height: 425px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.one p{
    font-size: 30px;
    font-weight: bold;
    font-family: roboto;
}

.two{
    width: 300px;
    height: 425px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.three{
    width: 300px;
    height: 425px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.response{
    background: white;
    color: black;
}


@media (max-width: 425px){
    body{
        width: 100%;
    }

    .group2{
        flex-wrap: wrap;
        width: 90%;
    }

    .test{
        width: 100%;
        margin-bottom: 50px;
    }

    .test22{
        display: none;
    }

    .group{
        display: block;
        margin: 0px;
    }

    .first_part{
        margin-left: 10px;
    }

    .group2{
        margin: 0px 0% 0px 5%;
    }

    .header{
        margin-top: 10px;
    }

    .test{
        margin-top: 10px;
    }

    .group3{
        width: 100%;
        display: flex;
    }

    .sub1{
        flex-direction: column;
        align-items: center;
    }

    .txt span{
        width: 100%;
    }

    .poold{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

}