*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #F9F9F9;
}

a{
    text-decoration: none;
}

.header{
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    box-shadow: 0px 0px 1px;
    position: sticky;
}

.first{
    border: 2px solid #7A9A00;
    padding: 12px;
    color: #7A9A00;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.first:hover{
    background: #7A9A00;
    color: white;
}

.dove{
    width: 100%;
}

.second{
    border: 2px solid transparent;
    padding: 12px;
    color: #7A9A00;
    text-decoration: none;
}

.second:hover{
    background: #7A9A00;
    color: white;
    border: 2px solid #7A9A00;
    font-weight: bold;
    border-radius: 5px;
}

.test a img{
    width: 100%;
}

.group{
margin: 0px 400px;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 30px;
}

.first_part{
    width: 100%;
    display: flex;
}

.first_part a:nth-child(1){
    color: white;
    background-color: #7A9A00;
    padding: 12px;
}

.first_part a:nth-child(2){
    color: black;
    background-color: white;
    padding: 12px;
    border: 1px solid transparent;
    border-bottom-color: rgb(173, 173, 173);
}

.first_part a:nth-child(2):hover{
    background-color: rgb(226, 226, 226);
}

.second_part{
    display: flex;
}

.second_part a{
    margin: 10px;
}

.second_part a:nth-child(1){
    color: black;
    border: 1px solid rgb(173, 173, 173);
    padding: 10px 20px;
    background-color: white;
}

.second_part a:nth-child(2){
    color: black;
    border: 1px solid rgb(173, 173, 173);
    padding: 10px 20px;
    background-color: white;
}

.second_part a:nth-child(3){
    color: black;
    border: 1px solid rgb(173, 173, 173);
    padding: 10px 20px;
    background-color: white;
}

.second_part a:nth-child(4){
    border: 1px solid transparent;
    padding: 10px 20px;
    background-color: white;
}

.group2{
    margin: 20px 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.test{
    width: 300px;
    height: 280px;
    border: 1px solid #e6e6e6;
}

.test img{
    width: 100%;
}

.test p{
    margin: 20px;
    color: black;
}

.type1{
    background: linear-gradient(
        90deg,
        #1F3F70,
        #162D50
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type2{
    background: linear-gradient(
        90deg,
        #E2A734,
        #333333
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type3{
    background: linear-gradient(
        90deg,
        #6BB5B6,
        #008080
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type4{
    background: linear-gradient(
        90deg,
        #9AA767,
        #7B9A00
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.type5{
    background: linear-gradient(
        90deg,
        #838EAA,
        #54628E
    );
    width: 100%;
    height: 70px;
    padding: 15px;
    color: white;
    font-size: 12px;
}

.dive{
    font-weight: bold;
    font-size: 15px;
}

.interact{
    width: 100%;
    margin-top: 80px;
}


@media (max-width: 425px){
    body{
        width: 100%;
        margin: 0px;
    }

    .group2{
        flex-wrap: wrap;
        width: 90%;
    }

    .test{
        width: 100%;
        margin-bottom: 50px;
    }

    .test22{
        display: none;
    }

    .group{
        display: block;
        margin: 0px;
        width: 100%;
    }

    .first_part{
        margin-left: 10px;
    }

    .group2{
        margin-left: 5%;
    }


}